# compiled output
nestjs/dist
nestjs/node_modules

# Logs
nestjs/logs
nestjs/*.log
nestjs/npm-debug.log*
nestjs/pnpm-debug.log*
nestjs/yarn-debug.log*
nestjs/yarn-error.log*
nestjs/lerna-debug.log*

# OS
nestjs/.DS_Store

# Tests
nestjs/coverage
nestjs/.nyc_output

# IDEs and editors
/.idea
nestjs/.project
nestjs/.classpath
nestjs/.c9/
nestjs/*.launch
nestjs/.settings/
nestjs/*.sublime-workspace

# IDE - VSCode
nestjs/.vscode/*
nestjs/!.vscode/settings.json
nestjs/!.vscode/tasks.json
nestjs/!.vscode/launch.json
nestjs/!.vscode/extensions.json

# more_ignore
nestjs/config/config*
nginx_window/logs/*
nestjs/**/*.js

coverage/
